<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div id="left" style="
        width: 100px;
        height: 100px;
        background: bisque;
    ">
    
            </div>
            <div id="right" style="
            margin-left: 34%;
            width: 100px;
            height: 100px;
            background: bisque;
        "> 
                    
                </div>
    </div>
</body>
</html>

<script>
let left=document.getElementById("left");
let right=document.getElementById("right");
let obj=[{type:"sender",message:100,order:1
},{type:"reciver",message:1000},
{type:"reciver",message:100000},
{type:"sender",message:100000}];

obj.forEach((ele)=>{
    if(ele.type=="sender"){
         neww=document.createElement("p");
              neww.innerHTML=ele.message;
              neww.style.color="black";
              left.appendChild(neww);
    }else{
         neww=document.createElement("p");
              neww.innerHTML=ele.message;
              left.appendChild(neww);
              neww.style.color="red";
              neww.style.padding="0px 10px";
    }
})


</script>