<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="./style.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body class="vsc-initialized" data-new-gr-c-s-check-loaded="14.1100.0" data-gr-ext-installed="">
      <!-- NOTE: Navbar -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            
            <a class="navbar-brand" href="#campus-tree">Campus Tree </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-toggle" aria-controls="nav-toggle" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon ticon"></span>
            </button>
            <div class="collapse navbar-collapse" id="nav-toggle">
              <div class="navbar-nav">
                <a class="nav-link " href="#">Home</a>
                <a class="nav-link active" aria-current="page" href="#"> Profile</a>
                <a class="nav-link" href="#">Chellenges</a>
                <a class="nav-link" href="#">Friends</a>
                <a class="nav-link" href="#">Community</a>
              </div>
            </div>
           
          </div>
        </nav>
       
      
      <div class="row profile-row">
        <div class="col-md-8 col-cover">
          <div class="cover">
            <img id="cover-img" src="./images/cover image.jpg" alt="">
            <button type="button" class="btn cover-edit-btn " data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              <i class="fa-solid fa-pen-to-square  cover-edit-icon"></i>
            </button>
          </div>
          <div class=" row profile-row-under">
            <div class="col-sm-6 pic-name-col">
              <img class="profile-img" src="images/profile.jpg" alt="">
              <button type="button" class="btn cover-edit-btn " data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <i class="fa-solid fa-pen-to-square  profile-edit-icon"></i>
              </button>
              <div class="name">
                Ravi
              </div>
            </div>
          <div class="col-sm-6 college-field-col">
              <div class="field container">
                Ravi Sinhmar
              </div>
              <div class="college container">
                GJU Hisar,Haryana
              </div>
            <div class="skills-div">
              <div class="skill">
                HTML
              </div>
              <div class="skill">
                CSS3
              </div>
              <div class="skill">
                JS
              </div>
              <div class="skill">
                Bootstrap
              </div>
              <div class="skill">
                DOM
              </div>
              <div class="skill">
                Node.js
              </div>
            </div>
          </div>
          <div class="about-div">
            <h4 class="about-heading">About</h4>
            I am a dedicated young student. Currently I am working a project of designing a website.Along with that I am learnig english speaking by parting some time.
          </div>
          </div>
        </div>
      
      
      
      
      
        <!-- Chellenges Baar at the Right side of Profile section      1 -->
        <div style="padding: 5px;" class="col-md-4 chellenges-col container scrol">
          <div class="row" style="background-color: rgb(133, 142, 164); border: 2px solid black; border-radius: 0.8rem; max-width: 100%; height: 8rem; text-align: left;  margin: 4px; margin-top: 10px;">
            <div style="color: #ffffff;"><h3>100DaysOfCode</h3> </div>
            <div style="margin-top: -1rem;" class="col-sm-8">
          <div><h3 style="font-size: 1.5rem;   margin-bottom: 0%;"></h3>People <span><a style="text-decoration: none; font-weight: 1rem;color: white;" href="">55</a></span> </div>
          <div><h3 style="font-size: 1.5rem; margin-bottom: 0%;"></h3>Days Remaning <span><a style="text-decoration: none; font-weight: 1rem;color: white;" href="">76</a></span> </div>
        </div>
        <div class="col-sm-4">
          <button style="width: 6rem; height: 2rem; background-color: rgb(11, 138, 188); border-radius: 0.3rem; margin-left: -2.5rem;margin-top: -0.5rem;">JOIN</button>
        </div>
      </div>
       <!-- Chellenges Baar at the Right side of Profile section      2-->
        <div class="row" style="background-color: rgb(133, 142, 164); border: 2px solid black; border-radius: 0.8rem; max-width: 100%; height: 8rem; text-align: left;  margin: 4px; margin-top: 10px;">
          <div style="color: #ffffff;"><h3>Project Pramath</h3> </div>
          <div style="margin-top: -1rem;" class="col-sm-8">
        <div><h3 style="font-size: 1.5rem;   margin-bottom: 0%;"></h3>People <span><a style="text-decoration: none; font-weight: 1rem;color: white;" href="">55</a></span> </div>
        <div><h3 style="font-size: 1.5rem; margin-bottom: 0%;"></h3>Days Remaning <span><a style="text-decoration: none; font-weight: 1rem;color: white;" href="">76</a></span> </div>
      </div>
      <div class="col-sm-4">
        <button style="width: 6rem; height: 2rem; background-color: rgb(11, 138, 188); border-radius: 0.3rem; margin-left: -2.5rem;margin-top: -0.5rem;">JOIN</button>
      </div>
      </div>
       <!-- Chellenges Baar at the Right side of Profile section      2-->
       <div class="row" style="background-color: rgb(133, 142, 164); border: 2px solid black; border-radius: 0.8rem; max-width: 100%; height: 8rem; text-align: left;  margin: 4px; margin-top: 10px;">
        <div style="color: #ffffff;"><h3>Project Pramath</h3> </div>
        <div style="margin-top: -1rem;" class="col-sm-8">
      <div><h3 style="font-size: 1.5rem;   margin-bottom: 0%;"></h3>People <span><a style="text-decoration: none; font-weight: 1rem;color: white;" href="">55</a></span> </div>
      <div><h3 style="font-size: 1.5rem; margin-bottom: 0%;"></h3>Days Remaning <span><a style="text-decoration: none; font-weight: 1rem;color: white;" href="">76</a></span> </div>
      </div>
      <div class="col-sm-4">
      <button style="width: 6rem; height: 2rem; background-color: rgb(11, 138, 188); border-radius: 0.3rem; margin-left: -2.5rem;margin-top: -0.5rem;">JOIN</button>
      </div>
      </div> <!-- Chellenges Baar at the Right side of Profile section      2-->
      <div class="row" style="background-color: rgb(133, 142, 164); border: 2px solid black; border-radius: 0.8rem; max-width: 100%; height: 8rem; text-align: left;  margin: 4px; margin-top: 10px;">
        <div style="color: #ffffff;"><h3>Project Pramath</h3> </div>
        <div style="margin-top: -1rem;" class="col-sm-8">
      <div><h3 style="font-size: 1.5rem;   margin-bottom: 0%;"></h3>People <span><a style="text-decoration: none; font-weight: 1rem;color: white;" href="">55</a></span> </div>
      <div><h3 style="font-size: 1.5rem; margin-bottom: 0%;"></h3>Days Remaning <span><a style="text-decoration: none; font-weight: 1rem;color: white;" href="">76</a></span> </div>
      </div>
      <div class="col-sm-4">
      <button style="width: 6rem; height: 2rem; background-color: rgb(11, 138, 188); border-radius: 0.3rem; margin-left: -2.5rem;margin-top: -0.5rem;">JOIN</button>
      </div>
      </div> <!-- Chellenges Baar at the Right side of Profile section      2-->
      <div class="row" style="background-color: rgb(133, 142, 164); border: 2px solid black; border-radius: 0.8rem; max-width: 100%; height: 8rem; text-align: left;  margin: 4px; margin-top: 10px;">
        <div style="color: #ffffff;"><h3>Project Pramath</h3> </div>
        <div style="margin-top: -1rem;" class="col-sm-8">
      <div><h3 style="font-size: 1.5rem;   margin-bottom: 0%;"></h3>People <span><a style="text-decoration: none; font-weight: 1rem;color: white;" href="">55</a></span> </div>
      <div><h3 style="font-size: 1.5rem; margin-bottom: 0%;"></h3>Days Remaning <span><a style="text-decoration: none; font-weight: 1rem;color: white;" href="">76</a></span> </div>
      </div>
      <div class="col-sm-4">
      <button style="width: 6rem; height: 2rem; background-color: rgb(11, 138, 188); border-radius: 0.3rem; margin-left: -2.5rem;margin-top: -0.5rem;">JOIN</button>
      </div>
      </div> <!-- Chellenges Baar at the Right side of Profile section      2-->
      <div class="row" style="background-color: rgb(133, 142, 164); border: 2px solid black; border-radius: 0.8rem; max-width: 100%; height: 8rem; text-align: left;  margin: 4px; margin-top: 10px;">
        <div style="color: #ffffff;"><h3>Project Pramath</h3> </div>
        <div style="margin-top: -1rem;" class="col-sm-8">
      <div><h3 style="font-size: 1.5rem;   margin-bottom: 0%;"></h3>People <span><a style="text-decoration: none; font-weight: 1rem;color: white;" href="">55</a></span> </div>
      <div><h3 style="font-size: 1.5rem; margin-bottom: 0%;"></h3>Days Remaning <span><a style="text-decoration: none; font-weight: 1rem;color: white;" href="">76</a></span> </div>
      </div>
      <div class="col-sm-4">
      <button style="width: 6rem; height: 2rem; background-color: rgb(11, 138, 188); border-radius: 0.3rem; margin-left: -2.5rem;margin-top: -0.5rem;">JOIN</button>
      </div>
      </div>
       <!-- Chellenges Baar at the Right side of Profile section      3 -->
        <div class="row" style="background-color: rgb(133, 142, 164); border: 2px solid black; border-radius: 0.8rem; max-width: 100%; height: 8rem; text-align: left;  margin: 4px; margin-top: 10px;; margin-top: 10px;; margin-top: 10px;">
          <div style="color: #ffffff;"><h3>Leet Code Series</h3> </div>
          <div style="margin-top: -1rem;" class="col-sm-8">
        <div><h3 style="font-size: 1.5rem;   margin-bottom: 0%;"></h3>People <span><a style="text-decoration: none; font-weight: 1rem;color: white;" href="">55</a></span> </div>
        <div><h3 style="font-size: 1.5rem; margin-bottom: 0%;"></h3>Days Remaning <span><a style="text-decoration: none; font-weight: 1rem;color: white;" href="">76</a></span> </div>
      </div>
      <div class="col-sm-4">
        <button style="width: 6rem; height: 2rem; background-color: rgb(11, 138, 188); border-radius: 0.3rem; margin-left: -2.5rem;margin-top: -0.5rem;">JOIN</button>
      </div>
      </div>
      <!-- End of all 3 Chellenges baar chellenge will be fetched from DB -->
      </div>
      
      <!-- End of Profile  -->
      
      
      
      
      
      <!-- Start of chellenges Profile Recomendations -->
      <div class="content">
        <div class="container chellenges-profile-container">
                <div style="display:inline-block; ">
                    <div style="width: 15rem;" class="text-center card-box">
                        <div class="member-card pt-2 pb-2">
                            <div class="thumb-lg member-thumb mx-auto"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                            <div class="">
                                <h4>Rahul</h4>
                                <p class="text-muted">@Webdeveloper</p>
                            </div>
                            <ul class="social-links list-inline">
                                <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                            </ul>
                            <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">Message Now</button>
                            <div class="mt-4">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="mt-3">
                                            <h4>Followers</h4>
                                            <p class="mb-0 text-muted">500</p>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="mt-3">
                                            <h4>Followings</h4>
                                            <p class="mb-0 text-muted">60</p>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="mt-3">
                                            <h4>CP</h4>
                                            <p class="mb-0 text-muted">23</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col -->
                <div style="display:inline-block">
                  <div style="width: 15rem;" class="text-center card-box">
                      <div class="member-card pt-2 pb-2">
                          <div class="thumb-lg member-thumb mx-auto"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                          <div class="">
                              <h4>Rahul</h4>
                              <p class="text-muted">@Webdeveloper</p>
                          </div>
                          <ul class="social-links list-inline">
                              <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                              <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                              <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                          </ul>
                          <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">Message Now</button>
                          <div class="mt-4">
                              <div class="row">
                                  <div class="col-4">
                                      <div class="mt-3">
                                          <h4>Followers</h4>
                                          <p class="mb-0 text-muted">500</p>
                                      </div>
                                  </div>
                                  <div class="col-4">
                                      <div class="mt-3">
                                          <h4>Followings</h4>
                                          <p class="mb-0 text-muted">60</p>
                                      </div>
                                  </div>
                                  <div class="col-4">
                                      <div class="mt-3">
                                          <h4>CP</h4>
                                          <p class="mb-0 text-muted">23</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
                <!-- end col -->
                <div style="display:inline-block">
                  <div style="width: 15rem;" class="text-center card-box">
                      <div class="member-card pt-2 pb-2">
                          <div class="thumb-lg member-thumb mx-auto"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                          <div class="">
                              <h4>Rahul</h4>
                              <p class="text-muted">@Webdeveloper</p>
                          </div>
                          <ul class="social-links list-inline">
                              <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                              <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                              <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                          </ul>
                          <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">Message Now</button>
                          <div class="mt-4">
                              <div class="row">
                                  <div class="col-4">
                                      <div class="mt-3">
                                          <h4>Followers</h4>
                                          <p class="mb-0 text-muted">500</p>
                                      </div>
                                  </div>
                                  <div class="col-4">
                                      <div class="mt-3">
                                          <h4>Followings</h4>
                                          <p class="mb-0 text-muted">60</p>
                                      </div>
                                  </div>
                                  <div class="col-4">
                                      <div class="mt-3">
                                          <h4>CP</h4>
                                          <p class="mb-0 text-muted">23</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- col end here -->
              <div style="display:inline-block">
                <div style="width: 15rem;" class="text-center card-box">
                    <div class="member-card pt-2 pb-2">
                        <div class="thumb-lg member-thumb mx-auto"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                        <div class="">
                            <h4>Rahul</h4>
                            <p class="text-muted">@Webdeveloper</p>
                        </div>
                        <ul class="social-links list-inline">
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                        </ul>
                        <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">Message Now</button>
                        <div class="mt-4">
                            <div class="row">
                                <div class="col-4">
                                    <div class="mt-3">
                                        <h4>Followers</h4>
                                        <p class="mb-0 text-muted">500</p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="mt-3">
                                        <h4>Followings</h4>
                                        <p class="mb-0 text-muted">60</p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="mt-3">
                                        <h4>CP</h4>
                                        <p class="mb-0 text-muted">23</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <!-- end col -->
                
            
      
      
      
      
      
              <div style="display:inline-block">
                  <div style="width: 15rem;" class="text-center card-box">
                      <div class="member-card pt-2 pb-2">
                          <div class="thumb-lg member-thumb mx-auto"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                          <div class="">
                              <h4>Rahul</h4>
                              <p class="text-muted">@Webdeveloper</p>
                          </div>
                          <ul class="social-links list-inline">
                              <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                              <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                              <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                          </ul>
                          <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">Message Now</button>
                          <div class="mt-4">
                              <div class="row">
                                  <div class="col-4">
                                      <div class="mt-3">
                                          <h4>Followers</h4>
                                          <p class="mb-0 text-muted">500</p>
                                      </div>
                                  </div>
                                  <div class="col-4">
                                      <div class="mt-3">
                                          <h4>Followings</h4>
                                          <p class="mb-0 text-muted">60</p>
                                      </div>
                                  </div>
                                  <div class="col-4">
                                      <div class="mt-3">
                                          <h4>CP</h4>
                                          <p class="mb-0 text-muted">23</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- end col -->
              <div style="display:inline-block">
                <div style="width: 15rem;" class="text-center card-box">
                    <div class="member-card pt-2 pb-2">
                        <div class="thumb-lg member-thumb mx-auto"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                        <div class="">
                            <h4>Rahul</h4>
                            <p class="text-muted">@Webdeveloper</p>
                        </div>
                        <ul class="social-links list-inline">
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                        </ul>
                        <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">Message Now</button>
                        <div class="mt-4">
                            <div class="row">
                                <div class="col-4">
                                    <div class="mt-3">
                                        <h4>Followers</h4>
                                        <p class="mb-0 text-muted">500</p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="mt-3">
                                        <h4>Followings</h4>
                                        <p class="mb-0 text-muted">60</p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="mt-3">
                                        <h4>CP</h4>
                                        <p class="mb-0 text-muted">23</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              <!-- end col -->
              <div style="display:inline-block">
                <div style="width: 15rem;" class="text-center card-box">
                    <div class="member-card pt-2 pb-2">
                        <div class="thumb-lg member-thumb mx-auto"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                        <div class="">
                            <h4>Rahul</h4>
                            <p class="text-muted">@Webdeveloper</p>
                        </div>
                        <ul class="social-links list-inline">
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                        </ul>
                        <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">Message Now</button>
                        <div class="mt-4">
                            <div class="row">
                                <div class="col-4">
                                    <div class="mt-3">
                                        <h4>Followers</h4>
                                        <p class="mb-0 text-muted">500</p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="mt-3">
                                        <h4>Followings</h4>
                                        <p class="mb-0 text-muted">60</p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="mt-3">
                                        <h4>CP</h4>
                                        <p class="mb-0 text-muted">23</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- col end here -->
            <div style="display:inline-block">
              <div style="width: 15rem;" class="text-center card-box">
                  <div class="member-card pt-2 pb-2">
                      <div class="thumb-lg member-thumb mx-auto"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                      <div class="">
                          <h4>Rahul</h4>
                          <p class="text-muted">@Webdeveloper</p>
                      </div>
                      <ul class="social-links list-inline">
                          <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                          <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                          <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                      </ul>
                      <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">Message Now</button>
                      <div class="mt-4">
                          <div class="row">
                              <div class="col-4">
                                  <div class="mt-3">
                                      <h4>Followers</h4>
                                      <p class="mb-0 text-muted">500</p>
                                  </div>
                              </div>
                              <div class="col-4">
                                  <div class="mt-3">
                                      <h4>Followings</h4>
                                      <p class="mb-0 text-muted">60</p>
                                  </div>
                              </div>
                              <div class="col-4">
                                  <div class="mt-3">
                                      <h4>CP</h4>
                                      <p class="mb-0 text-muted">23</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
              <!-- end col -->
              
          </div>
      
       
        <!-- container -->
      </div>
      
      </div>
      
      
      
      
      <!-- Button trigger modal -->
      
      
      <!-- Modal -->
      <div class="modal fade modal2" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
              <button type="button" class="btn-close cross" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body dialog-body">
              <input type="file" name="" id="cover-file">
              <input type="file" name="" id="profile-file">
              <div class="box-2">
                <div class="result"></div>
                </div>
              
            </div>
      
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary close-name" data-bs-dismiss="modal" style="display: none;">Close</button>
              <button type="button" class="btn btn-primary done" data-bs-dismiss="modal">Done</button>
              <button type="button" class="btn btn-primary profile-done" data-bs-dismiss="modal">Profile-Done</button>
      
      
            </div>
          </div>
        </div>
      </div>
      
      
      <!-- Remove the container if you want to extend the Footer to full width. -->
      <div class=" my-5">
        <!-- Footer -->
        <footer class="text-center text-white" style="background-color: #3f51b5">
          <!-- Grid container -->
          <div class="container">
            <!-- Section: Links -->
            <section class="mt-5">
              <!-- Grid row-->
              <div class="footer-features row text-center d-flex justify-content-center pt-5">
                <!-- Grid column -->
                <div class="  col-md-2">
                  <h6 class="text-uppercase font-weight-bold">
                    <a href="#!" class="text-white">Hackthon</a>
                  </h6>
                </div>
                <!-- Grid column -->
      
                <!-- Grid column -->
                <div class="col-md-2">
                  <h6 class="text-uppercase font-weight-bold">
                    <a href="#!" class="text-white">Find Your Comminity</a>
                  </h6>
                </div>
                <!-- Grid column -->
      
                <!-- Grid column -->
                <div class="col-md-2">
                  <h6 class="text-uppercase font-weight-bold">
                    <a href="#!" class="text-white">Join Chellenges</a>
                  </h6>
                </div>
                <!-- Grid column -->
      
                <!-- Grid column -->
                <div class="col-md-2">
                  <h6 class="text-uppercase font-weight-bold">
                    <a href="#!" class="text-white">Events In Colleges</a>
                  </h6>
                </div>
                <!-- Grid column -->
      
                <!-- Grid column -->
                <div class="col-md-2">
                  <h6 class="text-uppercase font-weight-bold">
                    <a href="#!" class="text-white">Projects</a>
                  </h6>
                </div>
                <!-- Grid column -->
              </div>
              <!-- Grid row-->
            </section>
            <!-- Section: Links -->
      
            <hr class="my-5">
      
            <!-- Section: Social -->
            <section class="text-center mb-5">
              <a href="" class=" f-icon text-white me-4">
                <i class="fab fa-facebook-f" aria-hidden="true"></i>
              </a>
              <a href="" class=" f-icon text-white me-4">
                <i class="fab fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="" class=" f-icon text-white me-4">
                <i class="fab fa-google" aria-hidden="true"></i>
              </a>
              <a href="" class="f-icon text-white me-4">
                <i class="fab fa-instagram" aria-hidden="true"></i>
              </a>
              <a href="" class="f-icon text-white me-4">
                <i class="fab fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="" class=" f-icon text-white me-4">
                <i class="fab fa-github" aria-hidden="true"></i>
              </a>
            </section>
            <!-- Section: Social -->
          </div>
          <!-- Grid container -->
      
          <!-- Copyright -->
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2023 Copyright:
            <a class=" copyright text-white" href="https://mdbootstrap.com/">Campustree.com</a>
          </div>
          <!-- Copyright -->
        </footer>
        <!-- Footer -->
      </div>
      <!-- End of .container -->
    </body>
      
      
      
      
      
      
      
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
      <script src="https://kit.fontawesome.com/1b26aa43df.js" crossorigin="anonymous"></script><style media="all" id="fa-v4-font-face">
       
        
      
      
     
      
      
      
      
     




</html> 