<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div style="
    /* margin-top: 0px; */
    /* height: 100vh; */
    /* display: flex; */
    /* width: 100vw; */
    padding-top: 5%;
">
        
   
    <div id="content" style="
    display: flex;
    align-items: center;
    justify-content: center;
">
    
    <div style="
    width: 330px;
    height: auto;
    border: 1px solid #d8d8d8;
    position: relative;
    border-radius: 5px;
    font-size: 16px;
    line-height: 20px;
    /* font-family: &quot;ViRegular&quot;,&quot;Helvetica&quot;,&quot;Arial&quot;,sans-serif; */
    padding: 18px 0;
    color: #2f3043;
    margin-bottom: 14px;
    display: flex;
">
        <div style="
    margin: 0;
    width: 100%;
">
            <div>
                <label for="code" style="
    color: #797a86;
    font-size: 12px;
    line-height: 14px;
    pointer-events: none;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    background: #fff;
    top: -8px;
    left: 15px;
    height: auto;
    width: auto;
    padding: 0 7px;
    z-index: 1;
    margin: 0;
">enter a valid OTP</label><div style="
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
">
                                    <form id="FORMID" action="/otp" method="POST" autocomplete="off" style="
    width: 100%;
    padding: 0;
    width: 100%;
    max-width: 165px;
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* grid-template-rows: auto; */
">
                                        <input type="tel" id="ist_input" placeholder="−" maxlength="1" onkeypress="return /[0-9]/i.test(event.key)" autocomplete="off" style="
    font-size: 36px;
    outline: aquamarine;
    border: 2px solid;
    line-height: 43px;
    font-family: 'ViBold',Helvetica,Arial,sans-serif;
    width: 100%;
    color: #2f3043;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    text-align: left;
">
                                        <input type="tel" id="second_input" placeholder="−" maxlength="1" onkeypress="return /[0-9]/i.test(event.key)" autocomplete="off" style="
    font-size: 36px;
    line-height: 43px;
    font-family: 'ViBold',Helvetica,Arial,sans-serif;
    width: 100%;
    color: #2f3043;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    text-align: left;
    outline: none;
">
                                        <input type="tel" id="third_input" placeholder="−" maxlength="1" autocomplete="off" onkeypress="return /[0-9]/i.test(event.key)" style="
    font-size: 36px;
    line-height: 43px;
    font-family: 'ViBold',Helvetica,Arial,sans-serif;
    width: 100%;
    color: #2f3043;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    text-align: left;
    outline: none;
">
                                        <input type="tel" id="fourth_input" placeholder="−" maxlength="1" autocomplete="off" style="
    font-size: 36px;
    line-height: 43px;
    font-family: 'ViBold',Helvetica,Arial,sans-serif;
    width: 100%;
    color: #2f3043;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    text-align: left ;
    outline: none;
">
           
<input name="otp" style="display: none;" id="main_input">

<!-- <button type="submit" id="verifyOtp" form="FORMID" class="btn verifyOtp px-4 miDarkbtn" style="
    /* display: flex; */
    background: #d5d6d9 !important;
    /* border-color: #d5d6d9 !important; */
    color: #fff;
    /* opacity: 1; */
    width: 150px;
    height: 50px;
    /* font-size: 16px; */
    /* line-height: 20px; */
    border-radius: 25px;
    /* color: #fff; */
    /* font-family: &quot;ViMedium&quot;,&quot;Helvetica&quot;,&quot;Arial&quot;,sans-serif; */
    /* margin-right: 40px; */
">verify</button>
</form>
                                </div>
</div>
</div>
<i class="fa fa-repeat" aria-hidden="true" style="
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: -9%;
"></i>
</div>
</div><div id="text_section" style="
    display: flex;
    justify-content: center;
"><p>OTP has been sent to your email<span> </span><span class="dynamicNumber"><%=  %> </span></p></div>
<div style="
    display: flex;
    align-items: center;
    justify-content: center;


">


<button id="button"  type="button" >
Verify
</button>
</div>
    </div>
Code injected by live-server 



 Code injected by live-server 
</body>
</html>

<script>

    //add validations
let ist_input=document.getElementById("ist_input");
let second_input=document.getElementById("second_input");
let third_input=document.getElementById("third_input");
let fourth_input=document.getElementById("fourth_input");
let main_input=document.getElementById("main_input");
let verifyOtp=document.getElementById("verifyOtp");

//^[0-9]*$
// verifyOtp.addEventListener("click",()=>{
//     if(ist_input.value!="" && second_input.value!="" && third_input.value!="" && fourth_input.value != ""){

 
// main_input.value=ist_input.toString()+second_input.toString()+third_input.toString()+fourth_input.toString();
// verifyOtp.type="Submit";

// }

// })

//logics
//pending ::: 


//validations
let button=document.getElementById("button");
button.addEventListener("click",()=>{
    if(ist_input.value!=" " && second_input.value!="" && third_input.value!="" && fourth_input.value!=""){
main_input.value=ist_input.value+second_input.value+third_input.value+fourth_input.value;
button.setAttribute("form","FORMID");
button.type="submit";
}else{

    alert("Invalid Otp");
}
})


</script> -->




<html>
  <head>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body style="background: rgb(3,0,14);">
    <div class="min-h-screen flex flex-col justify-center text-center">
        <!-- Make sure the following div id (OTPInput) is the same in the Javascipt -->
        <form action="/otp" method="POST" id="FORMID">
          <!-- This is the div where the otp fields are generated by Javascript -->
          <div class="flex justify-center " id="OTPInput">
          <input class="w-12 h-12 bg-gray-100 border-gray-100 outline-none focus:bg-gray-200 m-2 text-center rounded focus:border-blue-400 focus:shadow-outline ist_input" id="otp-field2" maxlength="1" style="color: transparent; text-shadow: gray 0px 0px 0px;" type="password"><input class="w-12 h-12 bg-gray-100 border-gray-100 outline-none focus:bg-gray-200 m-2 text-center rounded focus:border-blue-400 focus:shadow-outline second_input" id="otp-field3" maxlength="1" style="color: transparent; text-shadow: gray 0px 0px 0px;" type="password"><input class="w-12 h-12 bg-gray-100 border-gray-100 outline-none focus:bg-gray-200 m-2 text-center rounded focus:border-blue-400 focus:shadow-outline third_input" id="otp-field4" maxlength="1" style="color: transparent; text-shadow: gray 0px 0px 0px;" type="password"><input class="w-12 h-12 bg-gray-100 border-gray-100 outline-none focus:bg-gray-200 m-2 text-center rounded focus:border-blue-400 focus:shadow-outline fourth_input" id="otp-field5" maxlength="1" style="color: transparent; text-shadow: gray 0px 0px 0px;" type="password">    <input name="otp" style="display: none;" id="main_input"></div>
          <!-- Change this name attribute to mach your form submission parameters. Make sure you update the id in the javascript code if any changes are made to the id attribute -->
        
          <button id="button" class="mt-10 button button-primary font-bold text-lg px-6 pt-3 pb-3 rounded bg-black text-white" type="button" >Submit
          </button>
        </form>
      </div>


      <% if (typeof success != "undefined" && success=="false" && title=="internal"  ) { %>
        <script>
          
          alert('<%= message%>'); 
    //  password_field=document.getElementById("password_field");
    //    email=document.getElementById("email");
    //   password_field.type="text";
    //   password_field.value="<%= user.password%>";
    //   email.value= "<%= user.email%>";
    
    //   password_field.style.border="3px solid #FF9494";
        </script>
    
        
         
      <% } %>



    <script>
    /* This creates all the OTP input fields dynamically. Change the otp_length variable  to change the OTP Length */
const $otp_length = 6;

const element = document.getElementById('OTPInput');
for (let i = 0; i < $otp_length; i++) {
 // let inputField = document.createElement('input'); // Creates a new input element
  //inputField.className = "w-12 h-12 bg-gray-100 border-gray-100 outline-none focus:bg-gray-200 m-2 text-center rounded focus:border-blue-400 focus:shadow-outline";
  // Do individual OTP input styling here;
 // inputField.style.cssText = "color: transparent; text-shadow: 0 0 0 gray;"; // Input field text styling. This css hides the text caret
  //inputField.id = 'otp-field' + i; // Don't remove
  //inputField.maxLength = 1; // Sets individual field length to 1 char
  //element.appendChild(inputField); // Adds the input field to the parent div (OTPInput)
}

/*  This is for switching back and forth the input box for user experience */
const inputs = document.querySelectorAll('#OTPInput > *[id]');
for (let i = 0; i < inputs.length; i++) {
  inputs[i].addEventListener('keydown', function(event) {
    if (event.key === "Backspace") {

      if (inputs[i].value == '') {
        if (i != 0) {
          inputs[i - 1].focus();
        }
      } else {
        inputs[i].value = '';
      }

    } else if (event.key === "ArrowLeft" && i !== 0) {
      inputs[i - 1].focus();
    } else if (event.key === "ArrowRight" && i !== inputs.length - 1) {
      inputs[i + 1].focus();
    } else if (event.key != "ArrowLeft" && event.key != "ArrowRight") {
      inputs[i].setAttribute("type", "text");
      inputs[i].value = ''; // Bug Fix: allow user to change a random otp digit after pressing it
      setTimeout(function() {
        inputs[i].setAttribute("type", "password");
      }, 1000); // Hides the text after 1 sec
    }
  });
  inputs[i].addEventListener('input', function() {
    inputs[i].value = inputs[i].value.toUpperCase(); // Converts to Upper case. Remove .toUpperCase() if conversion isnt required.
    if (i === inputs.length - 1 && inputs[i].value !== '') {
      return true;
    } else if (inputs[i].value !== '') {
      inputs[i + 1].focus();
    }
  });

}
/*  This is to get the value on pressing the submit button
  *   In this example, I used a hidden input box to store the otp after compiling data from each input fields
  *   This hidden input will have a name attribute and all other single character fields won't have a name attribute
  *   This is to ensure that only this hidden input field will be submitted when you submit the form */

// document.querySelector('.otpSubmit').addEventListener("click", function() {
//   const inputs = document.querySelectorAll('#OTPInput > *[id]');
//   let compiledOtp = '';
//   for (let i = 0; i < inputs.length; i++) {
//     compiledOtp += inputs[i].value;
//   }
//   document.getElementById('otp').value = compiledOtp;
//   return true;
// });
    </script>
  
</body>
  </body>
</html>

<script>


let ist_input=document.querySelector(".ist_input");
let second_input=document.querySelector(".second_input");
let third_input=document.querySelector(".third_input");
let fourth_input=document.querySelector(".fourth_input");
let main_input=document.getElementById("main_input");
let verifyOtp=document.getElementById("verifyOtp");  let button=document.getElementById("button");


button.addEventListener("click",()=>{
    if(ist_input.value!=" " && second_input.value!="" && third_input.value!="" && fourth_input.value!=""){
main_input.value=ist_input.value+second_input.value+third_input.value+fourth_input.value;
button.setAttribute("form","FORMID");
console.log(main_input.value);
button.type="submit";
}else{

    alert("Invalid Otp");
}
})
</script>



<!--rgb(17,24,39/0.8)-->

<!--    background: rgb(3,0,14);-->

<!---rgb(59,131,246)-->








<!--Otp complete only verfication-->
<!--Connect -->