<!DOCTYPE html>
<html lang="en">
  <head>
    <title>/otp</title>
    <link rel="stylesheet" href="otp-style.css">
    <style>
        body{
    background-color: #2982d0;
    text-align: center;
    padding: 0;
}
.otp-container{
    text-align: center;
    max-width: 20rem;
    margin: 0.5rem auto auto auto;


}
.otp-send-txt{
   padding: 0;
   margin: 8rem auto auto auto;
   font-weight: 400;
   font-size: 2rem;
   color: white;
}
.otp{
   
    border: none;
    width: 10rem;
    height: 2rem;
    
    border-radius: 0.5rem;
    text-align: center;

}
.otp:hover{
    border: 1px solid white;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.otp-btn{
    border: none;
    width: 6rem;
    height: 2rem;
    cursor: pointer;
    border-radius: 0.4rem;
    text-align: center;
    margin: 1rem;
    margin-left: 0.5rem;
    background-color: #e3dc0c;
    font-weight: 300;


}
.otp-btn:hover{
    border: 2px solid white;
    background-color: #fff;

}


    </style>
  </head>

  <body>
    <div class="otp-send-txt">OTP has been sent on your mail</div>

    <div class="container-fluid otp-container">
      
        <form action="/otp" method="post">
            
            <input name="otp" class="otp form-control" type="number"  placeholder="Enter Otp">
            <button class="otp-btn">Verify</button>


        </form>
    </div>
  </body>
</html>