<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link media="all" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="./style.css">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">


    <style>
        input[type="file"] {
    display: none;
}
    </style>
</head>
<body>

   

  <div id="ubox" style="display: block">
    <div  class="stories-container" >
        <!--Own story-->
        <div>
          <img id="image" class="image" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" > 
         <!--icon--> <div>
      
              <label class="custom-file-upload">
                  <input name="file" id="file" class="input-file" type="file" accept="image/png, image/gif, image/jpeg ,image/mp4 "/>
                <i class="fa fa-thin fa-plus" id="icon" ></i>
              </label>
      </div>
      
          <h5>XYZ</h5>
      
      </div>
      <!--Others stories-->
      <div class="diff_stories" onclick="dd()">
          <div style=" width: 6.24em;height: 6.2em; border: 2px solid;  border-radius: 100%; border-color: chartreuse;animation: mymove 5s infinite;">  
      
          <img class="image" src="se.jpg">
          <h5>XYZ</h5>
      
      </div>
      </div>
      <!--2.-->
      <div class="diff_stories" onclick="dd()">
          <img class="image" src="se.jpg">
          <h5>XYZ</h5>
      
      </div>
      <!--#3-->
      <div class="diff_stories" onclick="dd()">
          <div style=" width: 6.24em;height: 6.2em; border: 2px solid;  border-radius: 100%; border-color: chartreuse;animation: mymove 5s infinite;">  
      
          <img class="image" src="se.jpg">
          <h5>XYZ</h5>
      
      </div>
      </div>
      


     <!---->
        

         </div>
        </div>
        <div id="box" style="display: none;">

      
<div id="progress" style="    width: 0%;
height: 5px;
background: aqua;">

</div>
         <div  style="    display: flex;
         align-items: center;
         background: black;
         justify-content: center;
         HEIGHT: 100%;">
              <div id="img" style="justify-content: center;
              display: flex;">
                        

           <i class="fa fa-arrow-left" id="left_arrow" style="color: cornsilk;
           padding-top: 32%;
           margin: 0%;
           font-size: 22px;" id="left_arrow">

           </i>
    

           <img src="se.jpg"  id="main-story" style="   width: 80%;
           height: 48em;">
  <i class="fa fa-arrow-right" id="right_arrow" style="color: cornsilk;
  padding-top: 32%;
  margin: 0%;
  font-size: 22px;">

  </i>
              </div>
              
         </div>
         <div style="display: flex;width: 100%; justify-content: flex-end; position: absolute;top: 0px;">
        
         
         <button id="close">
            x
        </button>
         </div>
        </div>
        
      

        <!-- <div>
          <% total_users  %>
        </div> -->

        <% for(let i=0;i<name_other.length;i++){ %>
          <div id="imgBox"><%name_other[i]%></div><br>
      <% }%>

</body>
</html>
<script>

 //   let preview=document.getElementById("preview");
  //  let image=document.getElementById("image");
   
   // const but=document.getElementById("but"); 
     

   
    // file_input.addEventListener("change",(e)=>{
       
    //     const reader=new FileReader();
    //         console.log(reader.result)
    

    //  })
    

    let input=document.querySelector(".input-file");   //input a file 
    input.addEventListener("change",async(e)=>{   //click function 

let url="";  //save uploaded image or video to url  
let own_stories_results={};  
const reader=new FileReader();
reader.readAsDataURL(input.files[0]);
reader.addEventListener("load",async()=>{
   //important //console.log(reader.result);
    const img=new Image();
    img.src=reader.result;
    url=reader.result;
   //preview.appendChild(img);
   let data={
    image:url
}
console.log(url);

  // console.log(image_url);

        const response = await fetch("http://localhost:1000/stories", {
    method: 'POST', // *GET, POST, PUT, DELETE, etc.
     headers: {
      'Content-Type': 'application/json'
    
     },
    
     body:JSON.stringify(data) // body data type must match "Content-Type" header
  }).then((result)=>{
return result.json();
  }).then((data)=>{
      console.log(data);

     
      
  })
  // parses JSON response into native JavaScript objects
});  
});



</script>

<!--JSON stringfiyu=== object  ---   > text  then string  like name:  name:"pratham"  '{"name":"pratham"}' 
    JSON parse    === text ---    > object    '{"name":"pratham"}' -> name:"pratham "   both are opposite 
--> 


<script>
let main_story=document.getElementById("main-story");
let right_arrow=document.getElementById("right_arrow");
let left_arrow=document.getElementById("left_arrow");

    const images=[];
let i=0;
let x;
let another;
    let ubox=document.getElementById("ubox"); //upper box
    let box=document.getElementById("box"); //story box
    let close=document.getElementById("close"); //close button
    let diff=document.querySelector(".diff_stories"); //click on any story
    
        diff=document.getElementsByClassName("diff_stories");
   
        /*another=setInterval(()=>{
           
         if(i<images.length-1){ 
            ++i;
                console.log(i); 
                main_story.src=images[i];
                console.log(images[i]);
             
                }
                else{
        console.log("clear");
    clearInterval(another);
    }

    }, 1000);
    */
    
//     left_arrow.addEventListener("click",()=>{
// if(x>0){
//     --x;
// main_story.src=images[x];

// }else{

//     box.style.display="none"; ubox.style.display="block";
//     x=-1;

// }
// });
// right_arrow.addEventListener("click",()=>{
//     if(x+1==images.length){
//         box.style.display="none"; ubox.style.display="block";
//         x=-1;
//     }else{
//     ++x;
//     main_story.src=images[x];
// console.log(images[x]);
//     }
// });
       



       //our story page
       let timer;
       image=document.getElementById("image");
  image.addEventListener("click",async()=>{
   
let d="";

const response = await fetch("http://localhost:1000/ownstories", {
    method: 'POST', // *GET, POST, PUT, DELETE, etc.
     headers: {
      'Content-Type': 'application/json'
    
     },
    
    //  body:JSON.stringify(data) // body data type must match "Content-Type" header
  }).then((result)=>{
return result.json();
  }).then((data)=>{
     // console.log(data);
     d=data;
      
  })
  await console.log(d); 
  if(d.length==0){  //check  if empty
     //message or non 
     return ;
  }
  let i=0;
  //main_story.src=d[i-1];
  box.style.display="block"; ubox.style.display="none";
  main_story.src=d[i];
  i++;
    timer= setInterval(()=>{
      if(i<d.length){
        
        main_story.src=d[i];
      i++;
      }else{

        clearInterval(timer);
        main_story.src="";
        box.style.display="none"; ubox.style.display="block";
        i=0;

      }
       
    },3000);

  
     
  
});
//setTimeout for changing story
//close button
close.addEventListener("click",()=>{
        box.style.display="none"; ubox.style.display="block";
         clearInterval(timer);
      main_story.src="";
        });
        const dd=(()=>{
        box.style.display="block"; ubox.style.display="none";
        x=-1;
       main_story.src=images[0];});

</script>