<div>
    <img id="images" class="image" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" > 
   <!--icon--> <div>

        <label class="custom-file-upload">
            <input name="file" id="file" class="input-file" type="file" accept="image/png, image/gif, image/jpeg ,image/mp4 "/>
          <i class="fa fa-thin fa-plus" id="icon" ></i>
        </label>
</div>

    <h5>XYZ</h5>

</div>
<!--Others stories-->
<div class="diff_stories" onclick="dd()">
    <div style=" width: 6.24em;height: 6.2em; border: 2px solid;  border-radius: 100%; border-color: chartreuse;animation: mymove 5s infinite;">  

    <img class="image" src="se.jpg">
    <h5>XYZ</h5>

</div>
</div>
<!--2.-->
<div class="diff_stories" onclick="dd()">
    <img class="image" src="se.jpg">
    <h5>XYZ</h5>

</div>
<!--#3-->
<div class="diff_stories" onclick="dd()">
    <div style=" width: 6.24em;height: 6.2em; border: 2px solid;  border-radius: 100%; border-color: chartreuse;animation: mymove 5s infinite;">  

    <img class="image" src="se.jpg">
    <h5>XYZ</h5>

</div>
</div>






  <!-- <li tabindex="-1" class="uk-active" style="
        /* display: flex; */
    ">
                                      <a href="#story-view" uk-toggle="">
                                          <div class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-1 rounded-full transform -rotate-2 hover:rotate-3 transition hover:scale-105 m-1">
                                              <img src="https://media.istockphoto.com/id/1323990939/photo/a-studio-portrait-of-a-young-millennial-woman.jpg?b=1&amp;s=170667a&amp;w=0&amp;k=20&amp;c=YcKfu01ftZLhv9DnHK2ARHSBxqOB1XgtCHbrAVzKkmg=" class="w-20 h-20 rounded-full border-2 border-white bg-gray-200" style="
        height: 8em;
        width: 8em;
        border: 2px solid transparent;
        border-radius: 100%;
    ">
                                          </div>
                                      </a>
                                      <a href="profile.html" class="block font-medium text-center text-gray-500 text-x truncate w-24" style="
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        align-items: center;
        /* text-align: center; */
    ">
                                          Dennis </a>
                                  </li> -->

                  <!-- <li tabindex="-1" class="uk-active" style="
        /* display: flex; */
    ">
                                      <a href="#story-view" uk-toggle="">
                                          <div class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-1 rounded-full transform -rotate-2 hover:rotate-3 transition hover:scale-105 m-1">
                                              <img src="https://media.istockphoto.com/id/1323990939/photo/a-studio-portrait-of-a-young-millennial-woman.jpg?b=1&amp;s=170667a&amp;w=0&amp;k=20&amp;c=YcKfu01ftZLhv9DnHK2ARHSBxqOB1XgtCHbrAVzKkmg=" class="w-20 h-20 rounded-full border-2 border-white bg-gray-200" style="
        height: 7em;
        width: 7em;
        border: 2px solid transparent;
        border-radius: 100%;
    ">
                                          </div>
                                      </a>
                                      <a href="profile.html" class="block font-medium text-center text-gray-500 text-x truncate w-24" style="
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        align-items: center;
        /* text-align: center; */
    ">
                                          Dennis </a>
                                  </li><li tabindex="-1" class="uk-active" style="
        /* display: flex; */
    ">
                                      <a href="#story-view" uk-toggle="">
                                          <div class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-1 rounded-full transform -rotate-2 hover:rotate-3 transition hover:scale-105 m-1">
                                              <img src="https://media.istockphoto.com/id/1323990939/photo/a-studio-portrait-of-a-young-millennial-woman.jpg?b=1&amp;s=170667a&amp;w=0&amp;k=20&amp;c=YcKfu01ftZLhv9DnHK2ARHSBxqOB1XgtCHbrAVzKkmg=" class="w-20 h-20 rounded-full border-2 border-white bg-gray-200" style="
        height: 7em;
        width: 7em;
        border: 2px solid transparent;
        border-radius: 100%;
    ">
                                          </div>
                                      </a>
                                      <a href="profile.html" class="block font-medium text-center text-gray-500 text-x truncate w-24" style="
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        align-items: center;
        /* text-align: center; */
    ">
                                          Dennis </a>
                                  </li><li tabindex="-1" class="uk-active" style="
        /* display: flex; */
    ">
                                      <a href="#story-view" uk-toggle="">
                                          <div class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-1 rounded-full transform -rotate-2 hover:rotate-3 transition hover:scale-105 m-1">
                                              <img src="https://media.istockphoto.com/id/1323990939/photo/a-studio-portrait-of-a-young-millennial-woman.jpg?b=1&amp;s=170667a&amp;w=0&amp;k=20&amp;c=YcKfu01ftZLhv9DnHK2ARHSBxqOB1XgtCHbrAVzKkmg=" class="w-20 h-20 rounded-full border-2 border-white bg-gray-200" style="
        height: 7em;
        width: 7em;
        border: 2px solid transparent;
        border-radius: 100%;
    ">
                                          </div>
                                      </a>
                                      <a href="profile.html" class="block font-medium text-center text-gray-500 text-x truncate w-24" style="
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        align-items: center;
        /* text-align: center; */
    ">
                                          Dennis </a>
                                  </li><li tabindex="-1" class="uk-active" style="
        /* display: flex; */
    ">
                                      <a href="#story-view" uk-toggle="">
                                          <div class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-1 rounded-full transform -rotate-2 hover:rotate-3 transition hover:scale-105 m-1">
                                              <img src="https://media.istockphoto.com/id/1323990939/photo/a-studio-portrait-of-a-young-millennial-woman.jpg?b=1&amp;s=170667a&amp;w=0&amp;k=20&amp;c=YcKfu01ftZLhv9DnHK2ARHSBxqOB1XgtCHbrAVzKkmg=" class="w-20 h-20 rounded-full border-2 border-white bg-gray-200" style="
        height: 7em;
        width: 7em;
        border: 2px solid transparent;
        border-radius: 100%;
    ">
                                          </div>
                                      </a>
                                      <a href="profile.html" class="block font-medium text-center text-gray-500 text-x truncate w-24" style="
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        align-items: center;
        /* text-align: center; */
    ">
                                          Dennis </a>
                                  </li> -->
